<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h2>Guessing game</h2>
    <p>K-2S0 wants you to guess a number between 1 and 100!<br/></p>
    <p id="guess-count"></p>
    <input id='my-guess'>
    <button class='button' id='send-guess'>Make guess</button>
    <button class='button' id='new-game'>New Game</button>
    <div class="robot">
      <span id='clue'>Hello, let's play a game, puny human. Hahahah</span>
      <div class='eye left-eye'></div>
      <div class='eye right-eye'></div>
    </div>
<script>
    $('#send-guess').hide();
    $('#my-guess').hide();
    $('.eye').css('background-color', 'yellow').css('box-shadow', '0 0 20px yellow');


    var $correct;
    var $guess_count;
    function sendGuess() {
        var guess = $('#my-guess').val();
        $.ajax({
         dataType: "json",
         method: "POST",
         url: "/guess",
//          contentType: "application/json",
         data: { guess: guess, correct_number: $correct, guess_count: $guess_count }
     }).then(function(data) {
          $guess_count = data.guess_count;
          $("#clue").text(data.message);
          $("#guess-count").text("You have made " + $guess_count + " guesses.")
          if (data.done == "Finished") {
            gameEnd();
          } else {
            $('.eye').css('background-color', 'red').css('box-shadow', '0 0 20px red');
          }
      });
    }

    function gameEnd() {
        $('#guess-count').text(" ");
      $('#send-guess').hide();
      $('#my-guess').hide();
      $('.eye').css('background-color', 'lime').css('box-shadow', '0 0 20px lime');
    }

    function newGame() {
      $('#my-guess').hide();
      $.ajax({
        dataType: "json",
        method: "POST",
        url: "/new_game",
      }).then(function(data) {
        $('#clue').text("Make a guess!");
        $('#my-guess').show();
        $('#send-guess').show();
        $correct = data.correct_number;
        $guess_count = data.guess_count;
        $('.eye').css('background-color', 'lime').css('box-shadow', '0 0 20px lime');
     });
    }

    $('#send-guess').on('click', sendGuess);
    $('#new-game').on('click', newGame);


    $('#my-guess').keypress(function(e) {
      if(e.which == 13) {
        sendGuess();
      }
    });
</script>
</body>
</html>
